/* Provide CSS formatting for the options page */
.card {
    margin: auto;
    transform: translate(0, 150%);
    text-align: center;
    max-width: 450px;
    max-height: fit-content;
}

.logout, .update-password {
    margin: auto;
    padding: 10px;
}