<div class="container">
    <mat-card class="search-form-container">
        <mat-card-title>Search for an Employee</mat-card-title>
        <form>
            <mat-form-field class="user-id">
                <mat-label>Employee ID</mat-label>
                <input 
                matInput 
                placeholder="0123456" 
                name="employeeid" 
                [(ngModel)]="employeeQuery.employeeid" 
                [formControl]="employeeid" 
                [errorStateMatcher]="matcher"
                (change)="isUserIdValid()">
                <mat-error *ngIf="employeeid.getError('containSpace')">
                    Username cannot contain a space
                </mat-error>
                <mat-error *ngIf="employeeid.getError('lessthan5char')">
                    Username must be at least {{ MIN_ID_LEN }} characters
                </mat-error>
                <mat-error *ngIf="employeeid.getError('illegalchar')">
                    {{ illegalChar }} is not a valid character
                </mat-error>
            </mat-form-field>
            <mat-form-field class="user-id">
                <mat-label>Last Name</mat-label>
                <input 
                matInput 
                placeholder="Doe" 
                name="lastname" 
                [(ngModel)]="employeeQuery.lastname" 
                [formControl]="lastname"
                [errorStateMatcher]="matcher">
            </mat-form-field>
            <mat-form-field class="date-of-birth">
                <mat-label>Date of Birth</mat-label>
                <input 
                type="date" 
                matInput 
                name="dateofbirth" 
                [(ngModel)]="employeeQuery.dob" 
                [formControl]="dateofbirth"
                [errorStateMatcher]="matcher"
                (change)="isDOBValid()">
                <mat-error *ngIf="dateofbirth.getError('invalidDate')">
                    Please Enter a Valid Date of Birth
                </mat-error>
            </mat-form-field>
            <br/>
            <button mat-raised-button color="primary" (click)="submitSearch()">
                <mat-icon>search</mat-icon>
                Search
            </button> 
        </form>
    </mat-card>

    <mat-card class="search-form-container">
        <mat-card-title>Results</mat-card-title>
        <h3>Data will go here!</h3>


    </mat-card>
</div>