<div class="container">
    <mat-card class="card">
        <mat-card-title>Update Password</mat-card-title>
        <mat-card-content>
            <form>
                <mat-form-field appearance="fill" *ngIf="!data.employeeid">
                    <mat-label>Password</mat-label>
                    <input 
                    name="password" 
                    [(ngModel)]="password" 
                    matInput 
                    [type]="hide ? 'password' : 'text'" 
                    [formControl]="passwordForm"
                    [errorStateMatcher]="matcher"
                    required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'">
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="passwordForm.hasError('wrongPassword')">
                        Password is incorrect
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input 
                    name="new-password" 
                    [(ngModel)]="newPassword" 
                    matInput 
                    [type]="hideNew ? 'password' : 'text'" 
                    [formControl]="newPasswordForm"
                    [errorStateMatcher]="matcher"
                    (change)="isPasswordValid()"
                    required>
                    <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide Password'">
                        <mat-icon>{{ hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="newPasswordForm.hasError('invalidPassword')">
                        {{ errMessage }}
                    </mat-error>
                    <mat-error *ngIf="newPasswordForm.hasError('passwordsDontMatch')">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input 
                    name="confirm-password" 
                    [(ngModel)]="confirmPassword" 
                    matInput 
                    [type]="hideConfirm ? 'password' : 'text'" 
                    [formControl]="confirmPasswordForm"
                    [errorStateMatcher]="matcher"
                    (change)="confirmPasswords()"
                    required>
                    <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide Password'">
                        <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="confirmPasswordForm.hasError('passwordsDontMatch')">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>
                <br>
                <button 
                mat-raised-button 
                class="submit-button" 
                (click)="updatePassword()"
                color="primary">
                    Submit
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>