/* Provide CSS formatting for the update password page */
.error-snack {
    position: absolute;
}

mat-card {
    text-align: center;
    justify-content: center;
    height: 500px;
}

mat-card-title {
    font-size: 40px;
}

mat-card-content {
    margin-top: 100px;
}

.container {
    justify-content: center;
}

mat-form-field {
    margin: 10px;
}