/* Provide CSS formatting for the search patient page */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.middle-initial {
    max-width: 50px;
}

mat-form-field {
    margin: 20px
}
mat-card {
    text-align: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
}
mat-card-title {
    padding-top: 40px;
}

mat-grid-tile {
    background-color: rgb(255, 255, 255);
}

form {
    max-width: 50vw;
}

.body {
    margin: 5px;
    padding: 5px;
    width: auto;
    justify-content: center;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.sort-button {
    margin-left: 20px;
}