/* Provide CSS formatting for the page-not-found page */
mat-card {
    max-width: 400px;
}
div {
    max-width: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin:auto;
    transform: translate(0, 120%);
}
