mat-card {
    max-width: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin:auto;
    transform: translate(0, 120%);
}

forgot-uandp {
    padding-bottom: 200px;
}

login-container {
    margin-top: 10px;
}

text {
    padding-bottom: 20px;
}

