<div class="container">
  <h1 mat-dialog-title>{{ title }}</h1>
  <div mat-dialog-content>
      <p *ngFor="let field of fields">
        {{ field }}
      </p>
      <p *ngIf="isString">
        {{ data.msg }}
      </p>
  </div>
  <div mat-dialog-actions *ngIf="typeConfirmation==='YesNo'">
    <button mat-raised-button color="primary" (click)="onNoClick()">No</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
  </div>
  <div mat-dialog-actions *ngIf="typeConfirmation==='Ok'">
    <button mat-raised-button color="primary" [mat-dialog-close]="true">Ok</button>
  </div>
</div>
