mat-sidenav {
    width: 200px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.vertical-spacer {
    display: flex;
    margin-top: 30vh;
}

.button-rows {
    margin-top: auto;
    flex:auto;
}

.hamburger-button {
    margin-left: 140px
}

.nav-button{
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.spacer {
    flex: 1 1 auto;
}

.options {
    flex: auto;
}

mat-sidenav-content {
    background-color: rgb(208, 208, 208);
}