mat-toolbar {
    display: flex;
}

mat-sidenav {
    width: 200px;
    text-align: center;
    justify-content: center;
    display: flex;
    color: #3f51b5;
    background-color: whitesmoke;
}

.vertical-spacer {
    display: flex;
    margin-top: 30vh;
}

.button-rows {
    margin-top: auto;
    flex:auto;
}

.hamburger-button {
    margin-left: 140px
}

.nav-button{
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    color: #3f51b5
}

.example-container {
    top: 64px !important;
}

.spacer {
    flex: 1 1 auto;
}

.options {
    flex: auto;
}

mat-sidenav-content {
    background-color:whitesmoke;
}