<mat-sidenav-container class="example-container">
    <mat-sidenav 
    #sidenav 
    mode="side" 
    *ngIf="!isOnLogin()" 
    [opened]="isSideBarOpen" 
    class="sidenav-container">
        <span class="vertical-spacer"></span>
        <div class="back-button">
            <button mat-raised-button color="primary" (click)="goBack()">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
        </div>
        <div class="button-rows">
            <mat-divider></mat-divider>
            <button mat-button class="nav-button" [routerLink]="['/search-employee']" color="primary">Search Employee</button>
            <mat-divider></mat-divider>
            <button mat-button class="nav-button" color="primary">Search Patient</button>
            <mat-divider></mat-divider>
            <button mat-button class="nav-button" [routerLink]="['/create-employee']" color="primary">Create Employee</button>
            <mat-divider></mat-divider>
            <button mat-button class="nav-button" [routerLink]="['/create-patient']" color="primary">Create Patient</button>
            <mat-divider></mat-divider>
        </div>
        <div class="options">
            <button mat-button (click)="openOptions()">
                <mat-icon>settings</mat-icon>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar *ngIf="!isOnLogin()" color="primary">
            <button mat-icon-button (click)="isSideBarOpen=!isSideBarOpen">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Electronic Health Record System</span>
            <span class="spacer"></span>
            <button mat-icon-button class="home-icon" (click)="goToHome()">
                <mat-icon>home</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
