
.middle-initial {
    max-width: 50px;
}
.creation-form-container {
    max-width: 1000px;
    margin-top: 150px;
    margin-left: 250px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}


mat-form-field {
    margin: 20px
}
