.container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.employeeid {
    width: max-content;
}
.middle-initial {
    max-width: 50px;
}

mat-form-field {
    margin: 20px
}
mat-card {
    text-align: center;
    justify-content: center;
    height: 100vh;
    width: fit-content;
}

.submit {
    margin: 10px;
}

.go-back {
    margin: 10px;
}
