<div class="container">
    <mat-card class="view-form-container">
        <mat-card-title>
            <span *ngIf="isBeingUpdated">Update</span> Employee {{ employee.lastname }}'s Information
        </mat-card-title>
        <form>
            <mat-form-field class="employeeid">
                <mat-label>EmployeeID</mat-label>
                <input
                matInput
                name="employeeid"
                [(ngModel)]="employee.employeeid"
                [readonly]="true">
            </mat-form-field>
            <mat-form-field class="user-id">
                <mat-label>UserID</mat-label>
                <input
                matInput
                placeholder="JDoe123"
                name="userid"
                [value]="employee.userid"
                [(ngModel)]="updatedEmp.userid"
                [readonly]="!isBeingUpdated"
                [errorStateMatcher]="matcher"
                [formControl]="userid"
                (change)="validateUserId()">
                <mat-error *ngIf="userid.hasError('containSpace')">
                    User ID cannot have a space
                </mat-error>
                <mat-error *ngIf="userid.hasError('lessthan5char')">
                    Must be at least 5 characters long
                </mat-error>
                <mat-error *ngIf="userid.hasError('illegalchar')">
                    {{ illegalChars }} is not allowed in User ID
                </mat-error>
            </mat-form-field>
            <mat-form-field class="first-name">
                <mat-label>First Name</mat-label>
                <input
                matInput 
                placeholder="John" 
                name="firstname" 
                [value]="employee.firstname"
                [(ngModel)]="updatedEmp.firstname"
                [readonly]="!isBeingUpdated"
                [errorStateMatcher]="matcher"
                [formControl]="firstname"
                (change)="requiredField(updatedEmp.firstname, 'firstname')">
                <mat-error *ngIf="firstname.hasError('empty')">
                    Field cannot be empty
                </mat-error>
            </mat-form-field>
            <mat-form-field class="middle-initial">
                <mat-label>M.I.</mat-label>
                <input 
                matInput 
                name="middleinitial" 
                [value]="employee.middleinitial"
                [(ngModel)]="updatedEmp.middleinitial"
                [readonly]="!isBeingUpdated"
                [formControl]="middleInit"
                [errorStateMatcher]="matcher">
            </mat-form-field>
            <mat-error *ngIf="middleInit.invalid">
                M.I. Needs Length 1
            </mat-error>
            <mat-form-field class="last-name">
                <mat-label>Last Name</mat-label>
                <input 
                matInput 
                name="lastname" 
                [value]="employee.lastname"
                [(ngModel)]="updatedEmp.lastname"
                [readonly]="!isBeingUpdated"
                [errorStateMatcher]="matcher"
                [formControl]="lastname"
                (change)="requiredField(updatedEmp.lastname, 'lastname')">
                <mat-error *ngIf="lastname.hasError('empty')">
                    Field cannot be empty
                </mat-error>
            </mat-form-field>
            <mat-form-field class="gender">
                <mat-label>Gender</mat-label>
                <mat-select 
                name="gender"
                [value]="employee.gender"
                [(ngModel)]="updatedEmp.gender">
                    <mat-option 
                    *ngIf="isBeingUpdated || employee.gender === 'Male'" 
                    value="Male">
                        Male
                    </mat-option>
                    <mat-option 
                    *ngIf="isBeingUpdated || employee.gender === 'Female'" 
                    value="Female">
                        Female
                    </mat-option>
                    <mat-option 
                    *ngIf="isBeingUpdated || employee.gender === 'Other'" 
                    value="Other">
                        Other
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="start-date">
                <mat-label>Start Date</mat-label>
                <input
                matInput
                name="creation-date"
                [(ngModel)]="employee.startdate"
                [readonly]="true">
            </mat-form-field>
            <mat-form-field class="end-date">
                <mat-label>End Date</mat-label>
                <input
                *ngIf="!isBeingUpdated"
                matInput
                name="end-date"
                [(ngModel)]="employee.enddate"
                [readonly]="!isBeingUpdated">
                <input
                *ngIf="isBeingUpdated"
                matInput
                type="date"
                name="enddate"
                [(ngModel)]="updatedEmp.enddate"
                [errorStateMatcher]="matcher"
                [formControl]="enddate"
                (change)="validateEndDate()">
                <mat-error *ngIf="enddate.hasError('invalidDate')">
                    Please enter a valid end date
                </mat-error>
            </mat-form-field>
            <mat-form-field class="date-of-birth">
                <mat-label>Date of Birth</mat-label>
                <input *ngIf="isBeingUpdated"
                type="date" 
                matInput 
                name="dateofbirth" 
                [(ngModel)]="updatedEmp.dateofbirth"
                [formControl]="dateofbirth"
                [errorStateMatcher]="matcher"
                (change)="isDOBValid()">
                <input *ngIf="!isBeingUpdated"
                type="text"
                matInput
                name="dateofbirth"
                [(ngModel)]="employee.dateofbirth"
                [readonly]="!isBeingUpdated">
                <mat-error *ngIf="dateofbirth.hasError('invalidDate')">
                    Please Enter a Valid Date of Birth
                </mat-error>
            </mat-form-field>
            <mat-form-field class="email">
                <mat-label>Email</mat-label>
                <input 
                matInput 
                placeholder="JDoe123@gmail.com" 
                name="email" 
                [value]="employee.email"
                [(ngModel)]="updatedEmp.email"
                [readonly]="!isBeingUpdated"
                [errorStateMatcher]="matcher"
                [formControl]="email"
                (change)="requiredField(updatedEmp.email, 'email')">
                <mat-error *ngIf="email.hasError('empty')">
                    Field cannot be empty
                </mat-error>
                <mat-error *ngIf="email.invalid">
                    Please enter a valid email
                </mat-error>
            </mat-form-field>
            <mat-form-field class="mobile-phone">
                <mat-label>Mobile Number</mat-label>
                <input 
                matInput 
                placeholder="4105551234" 
                name="mobilephone" 
                [value]="employee.mobilephone"
                [(ngModel)]="updatedEmp.mobilephone"
                [readonly]="!isBeingUpdated"
                [errorStateMatcher]="matcher"
                [formControl]="mobilePhone">
                <mat-error *ngIf="mobilePhone.invalid">
                    Please enter a valid mobile number
                </mat-error>
            </mat-form-field>
            <mat-form-field class="work-phone">
                <mat-label>Work Number</mat-label>
                <input 
                matInput 
                placeholder="+14105551234" 
                name="workphone" 
                [value]="employee.workphone"
                [(ngModel)]="updatedEmp.workphone"
                [readonly]="!isBeingUpdated"
                [errorStateMatcher]="matcher"
                [formControl]="workPhone">
                <mat-error *ngIf="workPhone.invalid">
                    Please enter a valid work number
                </mat-error>
            </mat-form-field>
            <mat-form-field class="home-phone">
                <mat-label>Home Number</mat-label>
                <input 
                matInput 
                placeholder="4105551234"
                name="homephone" 
                [value]="employee.homephone"
                [(ngModel)]="updatedEmp.homephone"
                [readonly]="!isBeingUpdated"
                [errorStateMatcher]="matcher"
                [formControl]="homePhone">
                <mat-error *ngIf="homePhone.invalid">
                    Please enter a valid home number
                </mat-error>
            </mat-form-field>
            <mat-form-field class="street-address-1">
                <mat-label>Street Address 1</mat-label>
                <input 
                matInput 
                placeholder="Address 1 Lane" 
                name="address1" 
                [value]="employee.streetname1"
                [(ngModel)]="updatedEmp.streetname1"
                [readonly]="!isBeingUpdated">
            </mat-form-field>
            <mat-form-field class="street-address-2">
                <mat-label>Street Address 2</mat-label>
                <input 
                matInput 
                placeholder="Address 2 Street" 
                name="address2" 
                [value]="employee.streetname2"
                [(ngModel)]="updatedEmp.streetname2"
                [readonly]="!isBeingUpdated">
            </mat-form-field>
            <mat-form-field class="city">
                <mat-label>City</mat-label>
                <input 
                matInput 
                placeholder="New York" 
                name="city" 
                [value]="employee.city"
                [(ngModel)]="updatedEmp.city"
                [readonly]="!isBeingUpdated">
            </mat-form-field>
            <mat-form-field class="state">
                <mat-label>State</mat-label>
                <input 
                matInput 
                placeholder="New York" 
                name="state"
                [value]="employee.state" 
                [(ngModel)]="updatedEmp.state"
                [readonly]="!isBeingUpdated">
            </mat-form-field>
            <mat-form-field class="zip-code">
                <mat-label>Zip Code</mat-label>
                <input 
                matInput 
                placeholder="21345" 
                name="zipcode" 
                [value]="employee.zipcode"
                [(ngModel)]="updatedEmp.zipcode"
                [readonly]="!isBeingUpdated">
            </mat-form-field>
            <mat-form-field class="country">
                <mat-label>Country</mat-label>
                <input 
                matInput 
                placeholder="United States" 
                name="country" 
                [value]="employee.country"
                [(ngModel)]="updatedEmp.country"
                [readonly]="!isBeingUpdated">
            </mat-form-field>
            <br>
            <button 
            *ngIf="!isBeingUpdated"
            mat-raised-button 
            class="update-button" 
            (click)="updateFields()"
            color="primary">
                Update Employee
            </button>
            <button
            *ngIf="isBeingUpdated"
            mat-raised-button
            class="submit"
            (click)="submit()"
            color="primary">
                Submit
            </button>
            <button
            *ngIf="isBeingUpdated"
            mat-raised-button
            class="update-password"
            (click)="updatePassword()"
            color="primary">
                Update Password
            </button>
            <button
            *ngIf="isBeingUpdated"
            mat-raised-button
            class="go-back"
            (click)="goBackandReset()"
            color="primary">
                Go Back
            </button>
    
        </form>
    </mat-card>
</div>
