/* Provide CSS formatting for the view patient page */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.middle-initial {
    max-width: 50px;
}

mat-form-field {
    margin: 20px
}
mat-card {
    text-align: center;
    justify-content: center;
    height: auto;
    width: 75%;
}

.go-back {
    margin-left: 10px;
}
mat-card-title {
    padding-top: 40px;
}